[mysqld]

skip-name-resolve
default_authentication_plugin = mysql_native_password

server-id           = 1
port                = 3306
socket              = /var/run/mysqld/mysqld_master.sock
pid-file            = /var/run/mysqld/mysqld_master.pid
datadir             = /var/lib/mysql_master
log_error           = /var/log/mysql_master/error_slave.log
relay-log           = /var/log/mysql_master/relay-bin
relay-log-index     = /var/log/mysql_master/relay-bin.index
master-info-file    = /var/log/mysql_master/master.info
relay-log-info-file = /var/log/mysql_master/relay-log.info
read_only           = 1
